.true {
    text-decoration: line-through;
    color: gray;
}

/* create task modal */

.createTaskModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.createTaskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createTaskForm > div {
    margin: 5px 0;
}
