.true {
  text-decoration: line-through;
  color: gray;
}

/* create task modal */

.inner-task {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.createTaskModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  width: 400px;
}

.createTaskForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.createTaskForm > div {
  margin: 5px 0;
}

.input-name-task {
  width: 80%;
  height: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.input-date-task {
  width: 80%;
  height: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.input-selector {
  width: 80%;
  height: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.input-desc-task {
  width: 80%;
  height: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
  resize: none;
  height: 5rem;
}
.error-task {
  width: 70%;
}


/* edit/delete tasks */

.editTaskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editTaskForm > input {
    text-align: center;
    margin-bottom: 10px;
}

.editTaskForm > textarea {
    margin: 10px 0;
}

.editTaskReminder {
    margin-bottom: 10px;
}

.editButtons {
    display: flex;
    justify-content: space-around;
    width: 75px;
    padding: 0 10px;
}

.editTaskDesc {
    width: 100%;
    height: 5rem;
    resize: none;
}

#required {
  margin: 0 0 10px 0;
}

.createTaskForm input::placeholder,
.createTaskForm textarea::placeholder {
  color: red;
}

.fa-trash-can {
  cursor: pointer;
}
