.no-notes{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.no-notes-msg {

  display: flex;
  font-size: 40px
}
.table {
  border: 1px black solid;
  min-height: 300px;
  font-size: 1.5rem;
  width: 80%;
  padding: 5px;
  border-collapse: collapse;
}

.col {
  text-align: center;
  border: 1px black solid;
  padding: 5px;
}

.row {
  height: 50px;
}

.notebookName, .click {
  cursor: pointer;
}

.col2 {
  border: 1px black solid;
  text-align: center;
  align-items: center;
}

.profile-dropdown {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: rgb(124, 124, 124);
  border-radius: 5px 5px 5px 5px;
  width: 6vw;
  padding: 5px 10px;
  margin-left: -1.25%;
  color: whitesmoke;
}

/* create notebook modal */

#modal-content {
  width: fit-content;
}

.createNotebookModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 20px;
  background: linear-gradient(90deg, rgba(44,166,99,255), rgba(75,177,116,255));

}

.createNotebookForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createNotebookForm > h1 {
  color: whitesmoke;
}

.createNotebookForm > div {
  margin: 5px 0;
}

/* delete notebook modal */

.deleteNotebookModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.deleteNotebookModal > h1 {
  margin: 0;
}

.deleteNotebookModal > div > button {
  margin: 10px;
  width: fit-content;
}

/* edit notebook modal */

.editNotebookModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(90deg, rgba(44,166,99,255), rgba(75,177,116,255));
  height: 52vh;
}

.editNotebookModal > h1 {
  margin-top: 0;
  color: whitesmoke;
}

.editNotebookForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.notebooks-cont {
  display: flex;
  justify-content: center;
  width: 100%;
}
.inner-notebooks-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-left: -15%;
  padding-top: 50px;
}

.table-head {
  height: 50px;
}

.new-notebook-info {
  resize: none;
  height: 5rem;
  width: 100%;
  text-align: center;
}

.name {
  width: 100%;
  height: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.create-notebook-img {
  width: 300px;
}

.edit-notebook-button {
  color: whitesmoke;
  background-color: black;
  width: 5rem;
  height: 1.5rem;
}

.edit-notebook-button {
  margin-top: 10px;
}
