.about-modal {
  font-family: "Arial", sans-serif;
  width: 40vw;
  margin: 50px auto;
  max-height: 80vh;
  overflow-y: auto;
  padding-left: 15px;
}

.about-modal h2 {
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.about-modal p {
  color: #000000;
  line-height: 1.5;
}

.about-modal h4 {
  color: #000000;
  margin-top: 30px;
}

.about-modal a {
  color: #0077df;
  text-decoration: none;
  transition: color 0.3s ease;
}

.about-modal a:hover {
  color: #0077df;
}

.contributers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
